# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/
Carthage/Checkouts

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode Playground
timeline.xctimeline
playground.xcworkspace

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.apk
android/*.aab
android/*.jks
android/*.keystore
android/.idea/
android/*.iml
android/captures/
android/.externalNativeBuild/
android/.cxx/
